*{
    margin: 0;
    padding: 0;
}

header, footer{
    background-color: #DDD;
    margin: 0,auto;
    min-width: 100%;
}
nav{
    width: 100%;
    margin: 0, auto;
}
body {
    background-color: #AAAAAA;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
ul {
    list-style: None;
}
#menu ul{
    display: flex;
    list-style:none;
}
#menu li>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display:inline-block;
    text-decoration: none;
    min-width:100%;
    height: 100%;
  }


#menu li>a:hover{ 
   color: rgb(185, 183, 183);
   background-color: #853939;
}
#menu>li{
   float: left;
   text-align:center;
   height: 100%;
}